@import "reset.scss";
@import "rwd.scss";
@import "variables.scss";
@import "typography.scss";
@import "layout.scss";
@import "theme.scss";


html {
    scroll-behavior: smooth;

}

body {
    background: $color-primary-bg;
    color: $color-primary-text;
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    max-width: $container-max-width;
    margin: auto;
    padding: 0px 12px;

    @include rwd-below(768px) {
        padding: 0px 6px;
    }
}

*::selection {
    background: black;
    color: white;
}