$color-primary: #00c853;
$color-primary-light: #5efc82;
$color-primary-dark: #009624;
$color-primary-text: white;
$color-primary-bg: black;

$color-secondary: #4a148c;
$color-secondary-light: #7c43bd;
$color-secondary-drak: #12005e;
$color-secondary-text: white;
$color-secondary-bg: #5efc82;


button{
    padding: 10px;
    font-size: 1.5em;
    border-radius: 8px;
    background: $color-primary;
    border: none;
    font-weight: bold;
    color:white;
    cursor: pointer;
    &:hover{
        background: $color-primary-dark;
    }
    &:active{
        background:black;
    }
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}