@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900);

@for $i from 1 through 6 {
    h#{$i} {
        font-size: (7-$i)*0.3+.6em;
        line-height: 1.2;

        @include rwd-below(768px) {
            font-size: (7-$i)*0.3+.25em;
        }

        @if $i < 4 {
            margin: 100px 0px 20px;
            font-weight: 900;
        }
        @else {
            margin: 30px 0px 10px;
        }      

    }
}


p {
    margin: 16px;
    line-height: 1.4;
}

ul {
    padding: 15px 30px;
    display: inline-block;
    margin: auto;
    text-align: left;
    list-style-type: disc;
}

li {
    line-height: 1.5;
    margin: 5px;
}

hr {
    margin-top: 40px;
}