@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900);

@for $i from 1 through 6 {
    h#{$i} {
        font-size: (7-$i)*0.55em;
        line-height: 1.1;

        @if $i < 4 {
            font-weight: 900;
            margin: 100px 0px 30px;
        }@else{
            margin: 30px 0px 20px;
        }
    }
}


p {
    margin: 16px;
    line-height: 1.4;
}

ul {
    padding: 15px 30px;
    display: inline-block;
    margin: auto;
    text-align: left;
    list-style-type: disc;
}

li {
    line-height: 1.5;
    margin: 5px;
}

hr{
    margin-top: 40px;
}